__pycache__/
*.pyc
support/
settings.local.json
out/
.hypothesis/

# gnubg build artifacts
vendor/gnubg/.deps/
vendor/gnubg/autom4te.cache/
vendor/gnubg/Makefile
vendor/gnubg/Makefile.in
vendor/gnubg/aclocal.m4
vendor/gnubg/compile
vendor/gnubg/config.guess
vendor/gnubg/config.h
vendor/gnubg/config.h.in
vendor/gnubg/config.h.in~
vendor/gnubg/config.log
vendor/gnubg/config.status
vendor/gnubg/config.sub
vendor/gnubg/configure
vendor/gnubg/configure~
vendor/gnubg/depcomp
vendor/gnubg/install-sh
vendor/gnubg/libtool
vendor/gnubg/ltmain.sh
vendor/gnubg/missing
vendor/gnubg/stamp-h1
vendor/gnubg/ylwrap
vendor/gnubg/*.o
vendor/gnubg/*.lo
vendor/gnubg/gnubg
vendor/gnubg/bearoffdump
vendor/gnubg/makebearoff
vendor/gnubg/makehyper
vendor/gnubg/makeweights
vendor/gnubg/*.bd
vendor/gnubg/*.wd
vendor/gnubg/copying.c
vendor/gnubg/credits.c
vendor/gnubg/credits.h
vendor/gnubg/external_l.c
vendor/gnubg/external_y.c
vendor/gnubg/external_y.h
vendor/gnubg/sgf_l.c
vendor/gnubg/sgf_y.c
vendor/gnubg/sgf_y.h
vendor/gnubg/AUTHORS
vendor/gnubg/m4/libtool.m4
vendor/gnubg/m4/ltoptions.m4
vendor/gnubg/m4/ltsugar.m4
vendor/gnubg/m4/ltversion.m4
vendor/gnubg/m4/lt~obsolete.m4
vendor/gnubg/m4/*.old
vendor/gnubg/board3d/.deps/
vendor/gnubg/board3d/Makefile
vendor/gnubg/board3d/Makefile.in
vendor/gnubg/lib/.deps/
vendor/gnubg/lib/.libs/
vendor/gnubg/lib/Makefile
vendor/gnubg/lib/Makefile.in
vendor/gnubg/lib/*.la
vendor/gnubg/lib/*.o
vendor/gnubg/lib/*.lo
vendor/gnubg/doc/Makefile
vendor/gnubg/doc/Makefile.in
vendor/gnubg/doc/*.html
vendor/gnubg/doc/*.pdf
vendor/gnubg/doc/*.info
vendor/gnubg/doc/*.6
vendor/gnubg/doc/*.texi
vendor/gnubg/flags/Makefile
vendor/gnubg/flags/Makefile.in
vendor/gnubg/fonts/Makefile
vendor/gnubg/fonts/Makefile.in
vendor/gnubg/m4/Makefile
vendor/gnubg/m4/Makefile.in
vendor/gnubg/met/Makefile
vendor/gnubg/met/Makefile.in
vendor/gnubg/non-src/Makefile
vendor/gnubg/non-src/Makefile.in
vendor/gnubg/pixmaps/Makefile
vendor/gnubg/pixmaps/Makefile.in
vendor/gnubg/po/Makefile
vendor/gnubg/po/Makefile.in
vendor/gnubg/po/POTFILES
vendor/gnubg/scripts/Makefile
vendor/gnubg/scripts/Makefile.in
vendor/gnubg/sounds/Makefile
vendor/gnubg/sounds/Makefile.in
vendor/gnubg/textures/Makefile
vendor/gnubg/textures/Makefile.in
vendor/gnubg/win32/Makefile
vendor/gnubg/win32/Makefile.in
